body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.8;
}

/* ************************** */
/* ----------GLOBAL---------- */
/* ************************** */

.container {
  width: 70%;
  margin: auto;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.red {
  color: #ff0000;
}

.white {
  color: #fff;
}

.blue {
  color: #0000ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 4rem;
  padding: 0;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
}

h5 {
  font-size: 1rem;
  font-weight: 500;
  color: #1a6692;
}

.btn {
  background-color: #ff0000;
  border-radius: 5px;
  padding: 10px 15px;
  color: #eee;
}

.btn:hover {
  background-color: #000000;
}
/* ************************** */
/* ----------HEADER---------- */
/* ************************** */

header {
  background-color: #212529;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

nav .nav-logo {
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
}

nav .nav-list {
  display: flex;
}

nav .nav-list li {
  padding: 0 1rem;
}

.active {
  border-bottom: #ff0000 solid 3px;
}

@media screen and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .hide-small {
    display: none;
  }
}

@media only screen and (min-width: 500px) {
  .hide-big {
    display: none;
  }
}

/* ************************** */
/* --------SLIDESHOW--------- */
/* ************************** */

.slide-show {
  height: 600px;
  background-image: url(/images/dog-slide_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1);
  filter: sepia(1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.slide-show .white {
  background-color: red;
  opacity: 0.5;
  border-radius: 20px;
}

.slide-show .slide-show-controls {
  position: relative;
  top: 175px;
  color: #fff;
}

.slide-show .slide-show-controls .fa-circle {
  color: #bbb;
  padding: 0 10px;
  font-size: 10px;
}

.fa-circle:hover {
  cursor: pointer;
  color: #fff;
}

.first-slide,
.second-slide,
.third-slide {
  display: none;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

/* .second-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third-slide {
  display: none;
  flex-direction: column;
  align-items: center;
} */
/* ************************** */
/* --------PRODUCTS---------- */
/* ************************** */

.section-intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.fa-chevron-right {
  font-size: 10px;
}

.inventory {
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

@media only screen and (max-width: 768px) {
  .section-intro {
    flex-direction: column;
    align-items: flex-start;
  }

  .inventory {
    display: block;
  }
}

.card {
  border: #666 solid 1px;
  display: block;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.card .card-content {
  padding: 5px 25px;
}

.card .card-head,
.card-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.product-pic {
  height: 170px;
}

/* ************************** */
/* ----------ABOUT----------- */
/* ************************** */

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 50px 0;
}

@media only screen and (max-width: 768px) {
  .about-content {
    display: block;
  }

  .about-content-left {
    margin-bottom: 25px;
  }
}

.about-content ul li {
  list-style: square;
}

.about-img {
  width: 100%;
}

/* ************************** */
/* ---------BOTTOM AD-------- */
/* ************************** */
.ad {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 5px;
  margin: 40px 20px;
  padding: 25px 20px;
}

/* ************************** */
/* ----------FOOTER---------- */
/* ************************** */

.footer {
  margin: 50px 10px;
  text-transform: uppercase;
  text-align: center;
}
